#*
 * This file is part of Chroma Theme.
 *
 * Chroma Theme is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Lesser General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Chroma Theme is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public License
 * along with Chroma Theme.  If not, see <http://www.gnu.org/licenses/>.
 *#
<style type="text/css">
	.aui .color-scheme-default #header-wrapper, .aui .color-scheme-dashboard #subbanner, .aui .color-scheme-dashboard #heading {
		background-color: $theme_color_main;
	}

	.aui #banner .site-title .icon-stack-base, .aui #banner .site-title .site-name {
		color: $theme_color_main;
	}

	.aui .portal-normal a, .aui .portal-normal h2, .aui #subbanner {
		color: $theme_color_highlight;
	}

	.aui #navigation .nav .dropdown-menu {
		background: $theme_color_highlight;
	}
</style>