#*
 * Copyright (c) 2000-present Liferay, Inc. All rights reserved.
 *
 * This library is free software; you can redistribute it and/or modify it under
 * the terms of the GNU Lesser General Public License as published by the Free
 * Software Foundation; either version 2.1 of the License, or (at your option)
 * any later version.
 *
 * This library is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
 * FOR A PARTICULAR PURPOSE. See the GNU Lesser General Public License for more
 * details.
 *#
#set ($site_subheading = $theme_settings.getProperty('site-subheading'))
#set ($site_header_icon = $theme_settings.getProperty('site-header-icon'))
#set ($theme_color_main = $theme_settings.getProperty('theme-color-main'))
#set ($theme_color_highlight = $theme_settings.getProperty('theme-color-highlight'))

#if (!$getterUtil.getBoolean($theme_settings.getProperty('portlet-setup-show-borders-default')))
	#set ($css_class = "${css_class} borderless-default")
#end

#set ($show_dockbar = $is_signed_in)

#if ($getterUtil.getBoolean($theme_settings.getProperty('hide-dockbar')))
	#set ($show_dockbar = $is_signed_in && $permissionChecker.isGroupAdmin($group_id))
#end

#set ($show_link_user_personal_menu = !$show_dockbar && $getterUtil.getBoolean($theme_settings.getProperty('show-link-user-personal-menu')))

#set ($default_color_scheme = $theme_display.getColorScheme().getCssClass() == 'default' && !($is_signed_in && $getterUtil.getBoolean($theme_settings.getProperty('dashboard-view-for-logged-in-users'))))

#if ($default_color_scheme)
	#set ($css_class = "${css_class} color-scheme-default")
#else
	#set ($css_class = "${css_class} color-scheme-dashboard")
#end

#set ($show_search_field = $getterUtil.getBoolean($theme_settings.getProperty('show-search-field')))