<!DOCTYPE html>

#parse ($init)

<html class="$root_css_class" dir="#language ("lang.dir")" lang="$w3c_language_id">

<head>
	<title>$the_title - $company_name</title>

	<meta content="initial-scale=1.0, width=device-width" name="viewport" />

	#parse ("$full_templates_path/init_css.vm")

	$theme.include($top_head_include)
</head>

<body class="$css_class portal-normal">

<a href="#main-content" id="skip-to-content">#language ("skip-to-content")</a>

$theme.include($body_top_include)

#if ($show_dockbar)
	#dockbar()
#end

<div id="header-wrapper">
	<header id="banner" role="banner">
		<div id="heading">
			#if ($show_search_field && !$default_color_scheme)
				<div id="sitesearch">
					#parse ("$full_templates_path/search.vm")
				</div>
			#end

			<h1 class="site-title">
				<a class="$logo_css_class" href="$site_default_url" title="#language_format ("go-to-x", [$site_name])">
					#if ($site_header_icon != 'no-site-header-icon')
						<span class="icon-stack">
							<i class="icon-circle icon-stack-base"></i>
							<i class="site-header-icon $site_header_icon"></i>
						</span>
					#else
						<img alt="$logo_description" height="$site_logo_height" src="$site_logo" width="$site_logo_width" />
					#end
					<span class="site-name" title="#language_format ("go-to-x", [$site_name])">
						$site_name
					</span>
				</a>
			</h1>
		</div>

		#if ($has_navigation || $is_signed_in)
			#parse ("$full_templates_path/navigation.vm")
		#end
	</header>
</div>

<div class="container-fluid" id="wrapper">
	<div id="subbanner">
		<span>$site_subheading</span>
	</div>

	<div id="content">
		<nav id="breadcrumbs">#breadcrumbs()</nav>

		#if ($selectable)
			$theme.include($content_include)
		#else
			$portletDisplay.recycle()

			$portletDisplay.setTitle($the_title)

			$theme.wrapPortlet("portlet.vm", $content_include)
		#end
	</div>

	<footer id="footer" role="contentinfo">
		<p class="powered-by">
			#language ("powered-by") <a href="http://www.liferay.com" rel="external">Liferay</a>
		</p>
	</footer>
</div>

$theme.include($body_bottom_include)

$theme.include($bottom_include)

</body>

</html>