/**
 * This file is part of Chroma Theme.
 *
 * Chroma Theme is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Lesser General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Chroma Theme is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public License
 * along with Chroma Theme.  If not, see <http://www.gnu.org/licenses/>.
 */
@import "compass";
@import "mixins";

/* ---------- Extras ---------- */

.aui {
	.main-carousel {
		margin: -12px -20px;
		padding: 0 !important;

		.carousel-container {
			.carousel-item {
				background: #FFF no-repeat right top;
				@include border-radius(4px);

				> span {
					display: block;
					padding: 20px;
					max-width: 250px;
					background: rgba(255 ,255, 255, 0.8);
					margin: 10px;
				}
			}
		}
	}
}