@import "compass";
@import "mixins";

/* ---------- Extras ---------- */

.aui {
	#wrapper-main-carousel {
		height: 250px;
		margin-bottom: 3em;

		.carousel-item {
			height: 100%;
			width: 100%;
			background: #FFF no-repeat right top;
			@include border-radius(4px);
			
			> span {
				display: block;
				padding: 20px;
				max-width: 250px;
				background: rgba(255 ,255, 255, 0.8);
				margin: 10px;
			}
		}
	}
}