@import "compass";
@import "mixins";

$colorBackgroundHighlight: #9191EA;
$navigationWidth: 220px;
$dockbarHeight: 41px;

.aui .dashboard {
	padding: 0;

	#page-wrapper {
		margin-top: 41px;
	}

	#wrapper {
		margin-left: $navigationWidth;
	}

	#banner {
		background: #555555;
	    position: fixed;
	    bottom: 0;
	    left: 0;
	    top: 0;
	    width: $navigationWidth;
	    margin-top: $dockbarHeight;
	    z-index: 1040;

	    .default-logo {
			background: url(../images/logo_square.png) no-repeat;
			height: 200px;
			width: 200px;
			margin: 10px;
		}
	}

	#subbanner {
		background: url(../images/bg_navbar.png) repeat-x $colorBackgroundHighlight;
	    color: #555;
	    font-size: 28px;
	    line-height: $dockbarHeight;
	    margin: 0;
        position: fixed;
	    right: 0;
	    top: 0;
	    left: 0;

	    .nav-banner-toggle {
			display: block;
			margin: 2px;
		    position: fixed;
		    right: 0;
		    top: 0;
		    z-index: 1060;

		    > a {
		    	padding: 7px 10px;
    			vertical-align: top;
    			margin: 0;
		    }
		}
	}

	#navigation {
		.nav {
			float: none;

			> li {
				float: none;
    			margin: 2px 10px;
    			text-align: center;
			}
			
			.dropdown-menu {
				left: 0;
				top: 0;
				position: relative;
				float: none;
				@include box-shadow(none);
			}
		}

		.navbar-inner {
			.nav-collapse {
				height: auto;
    			overflow: visible;
			}
		}
	}

	#main-content {
		padding: 0 20px;
	}

	.portlet-dockbar {
		.dockbar {
			margin: 0;
			position: fixed;
			z-index: 1000;

			.user-avatar-image {
				max-height: 18px;
			}
		}
	} 
}