@import "compass";
@import "mixins";

@include respond-to(phone, tablet) {
	.aui {
		* {
			-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		}

		#navigation {
			&.open {
				.nav-collapse {
					height: auto;
					overflow: visible;
				}
			}
		}

		.portlet-dockbar {
			.btn-navbar {
				padding: 3px 8px;
			}
		}

		.nav-uncollapse {
			display: block;
		}
	}

	.aui .default {
		#navigation {			
			.navbar-inner {
				> .nav-collapse {
					background: #555;
				    left: 0;
				    margin: 0 -20px;
				    position: absolute;
				    right: 0;
				    top: 111px;
				    z-index: 1050;

				    > .nav {
				    	padding: 10px;
				    }
				}
			}
		}
	}
	
	.aui .dashboard {
		#wrapper {
			margin-left: 0;
		}

		#subbanner {
			.nav-banner-toggle {
				display: block;
			}
		}
	}
}

@include respond-to(phone) {
	.aui .default {
		#banner {
			.default-logo {
				background: url(../images/logo_small.png) no-repeat;
				height: 37px;
				width: 240px;
			}
		}
	}
}