@import "compass";
@import "mixins";

@import url(custom_default.css);
@import url(custom_dashboard.css);
@import url(custom_responsive.css);
@import url(custom_extras.css);

$colorHeading: #5E60B2;
$colorHighlight: #953537;
$colorHighlightGreen: #5CB260;

@font-face {
	font-family: 'exo2';
	src: url('../fonts/exo2/Exo2.0-Regular-webfont.eot');
    src: url('../fonts/exo2/Exo2.0-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/exo2/Exo2.0-Regular-webfont.woff') format('woff'),
         url('../fonts/exo2/Exo2.0-Regular-webfont.ttf') format('truetype'),
         url('../fonts/exo2/Exo2.0-Regular-webfont.svg#exo_2.0regular') format('svg');
}

/* ---------- Base styles ---------- */

.aui {
	height: 100%;

	.portal-normal {
		min-height: 100%;

		&.dockbar-ready {
			margin-top: 41px;
		}
	}

	a {
		color: $colorHeading;

		&:hover {
			color: $colorHighlight;
		}
	}

	h2 {
		color: $colorHeading;
		font-family: 'exo2';
		font-size: 2.2em;
	}

	#wrapper {
		height: 100%;
	    padding: 0;
    	margin: auto;
    	position: relative;
	}

	#banner {
		#heading {
			.site-name {
				display: none;
			}
		}

		.site-title {
			margin: 0;
		}
	}

	#subbanner {
		font-family: 'exo2';
		font-size: 38px;
		line-height: 1.6em;
		margin-top: 5px;
		text-align: center;
		vertical-align: middle;
		color: $colorHeading;
	}

	#navigation {
		.navbar-inner {
			background: none;
			border: none;
			padding: 0;
			@include box-shadow(none);
		}

		.nav {
			margin: 0;

			> li {
				margin-left: 2px;

				> a {
					font-family: 'exo2';
					background: #666;
					color: #BBB;
					@include text-shadow(none);

					&:hover, .selected {
						color: #888;
						background-color: #EEE;
					}
				}
			}

			.dropdown-menu {
				background: $colorHeading;
				border-width: 0;
				margin: 0;

				&:after, &:before {
					border-width: 0;
				}

				a {
					color: #FFF;

					&:hover {
						background: none;
						text-decoration: underline;
					}
				}
			}
		}

		#sign-in, #sign-out {
			background-color: $colorHighlightGreen;
			color: #EEEEEE;

			&:after {
				content: "\f090";
				font-family: 'fontawesome-alloy';
				margin-left: 6px;
			}

			&:hover {
				background-color: darken($colorHighlightGreen, 5%);
			}
		}

		#sign-out {
			background-color: $colorHighlight;

			&:after {
				content: "\f08b";
			}

			&:hover {
				background-color: darken($colorHighlight, 5%);
			}
		}
	}

	#footer {
		text-align: right;
		padding: 0 20px;
	}

	.portlet-dockbar {
		.dockbar {
			position: fixed;
			z-index: 1000;

			.user-avatar-image {
				max-height: 18px;
			}
		}
	} 
}