@import "compass";
@import "mixins";

$colorBackgroundHighlight: #9191EA;
$colorBackgroundSidebar: #555555;
$navigationWidth: 220px;
$dockbarHeight: 41px;

.aui .dashboard {
	padding: 0;

	#banner {
		background: $colorBackgroundSidebar;
	    position: fixed;
	    width: $navigationWidth;
	    height: 100%;
	    z-index: 1040;
	}

	#heading {
		background-image: url(../images/bg_navbar_t.png);
		padding-top: 41px;

		.site-title {
		    font-size: 26px;
			background: $colorBackgroundSidebar;
			padding: 26px 10px;
			text-align: center;

			.icon-stack {
				font-size: 56px;
			}
	    }
	}

	#subbanner {
		background-image: url(../images/bg_navbar_t.png);
	    font-size: 28px;
	    line-height: $dockbarHeight;
	    margin: 0;
        position: fixed;
		width: 100%;
	}

	#navigation {
		.nav {
			float: none;

			> li {
				float: none;
    			margin: 2px 10px;
    			text-align: center;
			}
			
			.dropdown-menu {
				left: 0;
				top: 0;
				position: relative;
				float: none;
				@include box-shadow(none);
			}
		}

		.navbar-inner {
			.nav-collapse {
				height: auto;
    			overflow: visible;
			}

			.nav-helpers {
				position: fixed;
				right: 0;
				/* TODO quick workaround */
				margin-top: -244px;
				
				li {
					float: left;
					margin: 2px;
				}
			}
		}
	}

	#main-content {
		padding: 0 20px;
	}

	#content {
		margin-left: $navigationWidth;
	}

	.portlet-dockbar {
		.dockbar {
			margin: 0;

			.user-avatar-image {
				max-height: 18px;
			}
			
			#_145_navSiteNavigationNavbarBtn {
				display: none;
			}
		}
	} 
}