#set ($site_subheading = $theme_settings.getProperty('site-subheading'))
#set ($site_header_icon = $theme_settings.getProperty('site-header-icon'))
#set ($theme_color_main = $theme_settings.getProperty('theme-color-main'))
#set ($theme_color_highlight = $theme_settings.getProperty('theme-color-highlight'))

#if (!$getterUtil.getBoolean($theme_settings.getProperty('portlet-setup-show-borders-default')))
	#set ($css_class = "${css_class} borderless-default")
#end

#set ($show_dockbar = $is_signed_in)

#if ($theme_settings.getProperty('hide-dockbar'))
	#set ($show_dockbar = $is_signed_in && $permissionChecker.isGroupAdmin($group_id))
#end