#set ($site_subheading = $theme_display.getThemeSetting('site-subheading'))
#set ($site_header_icon = $theme_display.getThemeSetting('site-header-icon'))
#set ($theme_color_main = $theme_display.getThemeSetting('theme-color-main'))
#set ($theme_color_highlight = $theme_display.getThemeSetting('theme-color-highlight'))

#if (!$theme_display.getThemeSetting('portlet-setup-show-borders-default'))
	#set ($css_class = "${css_class} borderless-default")
#end

#set ($show_dockbar = $is_signed_in)

#if ($theme_display.getThemeSetting('hide-dockbar'))
	#set ($show_dockbar = $is_signed_in && $permissionChecker.isGroupAdmin($group_id))
#end